/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.5s;
}
/* End Variables */
/* Start Global Rules */
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Global Rules */
/* Start Components */
.header {
  padding: 20px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}
.header .container .links {
  position: relative;
}
.header .container .logo {
  width: 60px;
}
.header .container .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .container .icon span{
  height: 2px;
  background-color: #333;
  margin-top: 5px;
}
.header .container .icon span:first-of-type{
  width: 100%;
}
.header .container .links:hover span:nth-of-type(2) {
  width: 100%;
}
.header .container .icon span:nth-of-type(2){
  width: 50%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.header .container .icon span:last-of-type{
  width: 100%;
}
.header .container ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  top: -20px;
  right: 5px;
}
.header .container .links:hover ul{
  display: block;
}
.header .container ul {
 position: absolute;
 top: calc(100% + 15px);
 right: 0;
 margin: 0;
 padding: 0;
 min-width: 200px;
 background-color: #f6f6f6;
 display: none;
 z-index: 1;
 border-radius: 10px;
 -webkit-border-radius: 10px;
 -moz-border-radius: 10px;
 -ms-border-radius: 10px;
 -o-border-radius: 10px;
}
.header .container ul li {
  list-style: none;
  padding: 15px;
}
.header .container ul li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.header .container ul li:hover a {
  padding-left: 25px;
}
.header .container ul li a{
  text-decoration: none;
  display: block;
  color: #333;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* Start Components */
/* End Header */
/* Start Landing Section */
.landing{
  height: calc(100vh - 64px);
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .intro-text {
  padding-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
   }
.landing .intro-text h1 {
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
  margin: 0;
  }
.landing .intro-text p {
  line-height: 1.8;
  font-size: 19px;
}
/* End Landing Section */
/* Start Features */
.Features {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-background);
}
.Features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px , 1fr ));
  grid-gap:20px;
}
.Features .feat {
  padding: 20px;
  text-align: center;
}
.Features .container .feat i {
  color: var(--main-color);
  justify-content: center;
  display: flex;
}
.Features .container .feat h3 {
  margin: 30px 0;
  font-weight: 800;
}
.Features .container .feat p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
/* End Features */
/* Start Services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 100px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .srv .text {
  flex: 1;
}
.services .services-content .srv .text h3 {
  margin: 0 0 20px;
}
.services .services-content .srv .text p {
  color: #444;
  font-weight: 300;
  line-height: 1.6;
}
.services .services-content .image {
  text-align: center;
  position: relative;
}
.services .services-content .image::before {
  content: "";
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  right: 0;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .image-column {
    display: none;
  }
}
/* End Services  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
  margin-top: 60px;
}
.portfolio .portfolio-content .card {
  background-color: white;
}
.portfolio .portfolio-content .card img {
max-width: 100%;
}
.portfolio .portfolio-content .card .info {
  padding: 20px;
}
.portfolio .portfolio-content .card .info h3 {
  margin: 0;
}
.portfolio .portfolio-content .card .info p {
  line-height: 1.6;
  margin-bottom: 0;
  color: #777;
}
/* End Portfolio */
/* Start About */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
}
.about .about-content {
display: flex;
flex-wrap:wrap ;
justify-content: space-between;
margin-top: 100px;
}
.about .about-content .image {
  width: 250px;
  height: 375px;
  position: relative;
}
.about .about-content img {
  max-width: 100%;
}
.about .about-content .image::before{
  content: "";
  background-color:#ebeced;
  width: 100px;
  height: calc(100% + 100px);
  top: -50px;
  position: absolute;
  left: -20px;
  z-index: -1;
}
.about .about-content .image::after{
  content: "";
 top: -40px;
 width: 120px;
 height: 300px;
  position: absolute;
  right:  -150px;
  z-index: -1;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 60px;
  }
}
@media (max-width: 991px) {
  .about .about-content .image::before,
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  display: inline-block;
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  color: #777;
  line-height: 2;
}
/* End About */
/* Start Contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
 padding-top: var(--section-padding);
 padding-bottom: var(--section-padding);
 text-align: center;
}
.contact .info .label {
font-weight: 800;
font-size: 35px;
letter-spacing: -2px;
color: var(--secondary-color);
margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  color: var(--main-color);
  font-weight: 800;
  font-size: 35px;
  text-decoration: none;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top:20px ;
  font-size: 16;
}
.contact .info .social i {
  color: var(--secondary-color);
  margin-left: 10px;
}
@media (max-width:767px) {
  .contact .info .label,
  .contact .info .link {
    font-size: 25px;
  }
}
/* End Contact */
/* Start Footer */
.footer {
 padding:30px 10px  ;
  background-color: var(--secondary-color);
  color: white;
  text-align: center;
  font-size: 18px;
}
.footer span {
  color: var(--main-color);
  font-weight: bold;
}
/* End Footer */
